@font-face {
  font-family: 'Mont';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./MontLight.woff') format('woff');
}

@font-face {
  font-family: 'Mont';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./MontRegular.woff') format('woff');
}